/*
Triggers are mini-programs that run automatically in response to specific events like
data insertion, updates, or deletion. 
They can enforce data integrity, maintain logs, or even perform calculations, 
acting as silent guardians of my database.

-- syntax --

CREATE TRIGGER trigger_name
{BEFORE | AFTER} {INSERT | UPDATE | DELETE}
ON table_name FOR EACH ROW
BEGIN
    -- SQL statements
END;


-- show triggers
SHOW TRIGGERS FROM database_name;
SHOW TRIGGERS LIKE 'table_name';

-- drop triggers
DROP TRIGGER IF EXISTS trigger_name;


*/
